

.chartContainer {
    display: flex;
    height: 700px;
    width: 100%;
}

/* Ensure canvas elements take full width and height of their containers */
canvas {
    width: 100% !important;
    height: 100% !important;
}

/* Sales Ranking By Location / Brand SALEREPO */
/* The first chart occupying 70% of the parent width */
#storeRankChart, #brandRankChart, #typeRankChart, #stockRankChart, #stockPurchChart, 
#typePurchSumChart, #suppPurchSumChart, #brndPurchSumChart,#transChart,
#stockEndLocaChart, #stockEndBrandChart, #dailySalesChart {
    display: none;
    justify-content: center;
    background-color: whitesmoke;
    padding: 20px 20px 50px 20px;
}
.divChart70, .divChart30{
    width: 70%;
    height: 100%;
    padding: 10px;
    background-color: whitesmoke;
}
#locaEndBarChart {
    width: 100%;
    padding: 10px;
    background-color: whitesmoke;
}
.divPieChart{
    height: 700px;
    width: 100%;
    overflow: hidden;
    padding: 20px;
}
.pieContainer {
    display: flex;
    height: 90%;
    justify-content: center;
}

#topBrands{
    width: 100%;
}
#storeChart1, #brandChart1 {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
}
/* The second chart occupying 30% of the parent width */
.divChart30 {
    width: 30%;
    height: 100%;
    padding: 10px;
    background-color: whitesmoke;
}
#storeChart2 {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}


#transChart {
    /* display: flex; */
    flex-direction: column;
    height: 1000px;
    width: 100%;
    overflow: hidden;
}


#topBrand,
#topClass {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    overflow: hidden;
    padding: 0 10px 10px 10px;
}

#topBrand canvas,
#topClass canvas {
    flex: 1 1 auto;
    width: 100% !important;
    height: 100% !important;
    padding-bottom: 40px;
}
#topClass canvas {
    background-image: linear-gradient(to right, #ffff, lightgrey  ); 
}