
.invoice {
    justify-content: center; 
    align-items: center;
    padding: 10px;
    margin: 0px 10px;
    width: 98%;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
}
.invoice label{
    width: 150px;
    margin: 0px;
    padding: 0px 10px;
}
.invoice input {
    margin: 0px;
    padding: 0px 10px;
}
.invoice select{
    padding: 0px;
    max-width: 400px;
}

/* Sales Header */
#inputSale1{
    display: grid;
    column-gap: 30px;
    grid-template-columns: auto auto auto;
}
#inputSale2{
    display: grid;
    column-gap: 30px;
    grid-template-columns: auto auto auto;
    
}

/* Stock Transfer Header */
#inputStock1{
    display: grid;
    column-gap: 30px;
    grid-template-columns: 80% 20%;
}
#inputStock2{
    display: grid;
    column-gap: 30px;
    grid-template-columns: 32% 32% 20% auto  ;
    
}

/* Purchases Header */
#inputPurch1, #inputPurch2, #inputPurch3{
    display: grid;
    column-gap: 30px;
    grid-template-columns: 40% 30% 30%;
}
#inputPurch3{
    grid-template-columns: 40% auto auto auto;
} 


.item-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center;         

    padding: 0;
    margin: 0;

    height: fit-content;
    max-height: 80%;
    width: 80%;
    max-width: 800px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the form on the page */
    
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 14px;
    border: 1px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    color: black;
    background-color: rgba(245,245,245,0.9);
        /* background-color: '#fff'; */
    z-index: 1000;
    /* overflow: auto; */
    overflow: hidden;
}

label {
    margin: 5px;
    padding-left: 5px;
    white-space: nowrap;
    color: #333;
    font-style: italic;
}
.inputSection {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 0px;
    margin: 0;
    width: 98%;
}
.inputSection label {
    width: 150px;
    margin: 0px;
    align-items: center;

}

#chkDiv {
    display: flex;
    align-items: center;
    margin: 8px;
}

#chkDiv input[type="checkbox"] {
    margin-right: 2px; /* Reduce the space between checkbox and label */
    width: 16px; /* Optional: adjust checkbox size */
    height: 16px; /* Optional: adjust checkbox size */
}

.textDiv {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.subTextDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 8px;
    padding: 0px;
    /* align-items: center; */
    /* padding: 10px; */
}

.btnDiv {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 6px 20px;
    margin: 0px;
}
.saveBtn, .cancelBtn {
    height: 30px;
    width: 100px;
    margin: 0px 4px;
    padding: 0;
    background-color: var(--main-bg-color);
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}
.cancelBtn:hover {
    background-color: red;
    animation: smallWiggle 0.6s ease;
}
.saveBtn:hover {
    background-color: var(--second-bg-color);
}

input, select {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px;  
    /* display: inline-block; */
}
input[type="number"] {
    text-align: center;
    padding-right: 10px;  
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#titleBar {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: var(--main-bg-color);
    color: white;
    margin: 0;
    padding: 0;
    position: "sticky";
    top: 0;
}
.bottomBar {
    background-color: var(--main-bg-color);
    color: white;
}
#inputDates input {
    font-size: 16px;
}
textarea {
    width: 80%;  
    max-width: 80%; 
    box-sizing: border-box; 
    height: 120px;
    resize: none; 
}

.invalid {
    border: 2px solid red;  
}
.ScanCode {
    height: 26px;
    max-width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0px 20px;

}


/* PickList */
/* #pickItemDiv {
    display: none;  
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 400px;
    width: auto;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    overflow: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;

} */

#titleBar span {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    color: white;
    background-color: var(--main-bg-color);
}

/* #dropdownList {
    display: none;           
    list-style: none;        
    margin: 0;
    padding: 0;
    width: 500px;             
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;  
    overflow-y: auto;        
}
#dropdownList li {
    padding: 2px;
    margin: 0;
    cursor: pointer;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
}
#dropdownList li:hover {
    color:white;
    background-color: #333;

}
#dropdownList li.highlight {
    background-color: #b3d9ff;  
    cursor: pointer;
} */

#selectWallPaper {
    display: none; /* Hidden by default */
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 80%;
    height: 80%;
    position: absolute;
    top: calc(50% + 28px);
    left: 50%; 
    transform: translate(-50%, -50%); 

    background-color: white;
    border: 1px solid #ccc;
    overflow: auto;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #ffff, var(--main-bg-color)  ); 

}

.wallpaperContainer {
    margin: 10px;
    cursor: pointer;
}

.wallpaperImage {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.wallpaperImage:hover {
    border: 2px solid #007BFF;
}


@media (max-width: 600px) {
    .item-form {
        width:90%
    }
}
