* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --main-bg-color:rgb(0,64,128);
    --second-bg-color: rgb(91, 147, 193); 
    --darker-bg-color: rgb(0,0,139); 

    --main-bg-color:rgb(255, 99, 71);
    --second-bg-color: rgb(255, 69, 0 );
    --darker-bg-color: rgb(255, 0, 0);

    --main-bg-color:rgb(0, 64, 64);
    --second-bg-color: rgb(34, 139, 34 );
    --darker-bg-color: rgb(0, 100, 0);

}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
}

#headerDiv {
    color: white;
}
#headerCaption{
    background-color: var(--main-bg-color);
    height: 30px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border-bottom:solid;
    padding: 0px 10px 0 10px;
}

/* Horizontal Main Menu */
.menu {
    display: flex;
    background-color: var(--main-bg-color);
    list-style: none;
    padding: 6px;
    height: 30px;
}

.menu li {
    position: relative;
    margin-right: 2em;
    color: white;
    cursor: pointer;
}

.menu li:hover > .dropdown {
    display: block;
}

.menu .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0.5em;
    z-index: 1000;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* background-color: rgba(255, 255, 255, 0.5);  */
    /* border-radius: 5px;  */
    backdrop-filter: blur(5px); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    background-color: var(--main-bg-color); 
    opacity: .8;

}

.menu .dropdown li {
    margin: 0.5em 0;
    white-space: nowrap;
    padding: 10px;
    margin: 0;
    color: white;
 
}

.menu .dropdown li:hover {
    background-color: #555;
    color: white;
}

/* Sidebar Menu */
.sidebar {
    display: none;
    flex-direction: column;
    background-color: var(--main-bg-color);
    padding: 1em;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    list-style: none;
    background-image: linear-gradient(to right, rgba(169, 169, 169, 0.447), var(--main-bg-color)); 
    z-index: 2000;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar li {
    color: white;
    margin: 0.5em 0;
    margin-left: 1em;
    cursor: pointer;
    list-style: none;
}

.sidebar .submenu li:hover {
    color:black;
    background-color: whitesmoke;
}

.sidebar .submenu li {
   padding: 10px;
   margin: 0;
}


.sidebar .submenu {
    display: none;
    flex-direction: column;
    border-color: whitesmoke;
    overflow-y: auto; 

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 5px;  */
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    background-color: var(--main-bg-color); 
    opacity: .8;

}

.sidebar li.open .submenu {
    display: flex;
}
.hamburger {
    display: none;
    font-size: 20px;
    cursor: pointer;
    padding-left: 10px;
    height: 30px;
    align-items: center; 
    color: white;
    background-color: var(--main-bg-color);
}

.close-sidebar {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    padding: 0.5em;
    color: white;
    background-color: var(--main-bg-color);
    margin-bottom: 1em;
    text-align: right;
    background-image: linear-gradient(to right, rgba(169, 169, 169, 0.447), var(--main-bg-color)); 

}

/* Responsive Design */
@media (max-width: 1020px) {
    .menu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .sidebar {
        display: flex;
    }

    .close-sidebar {
        display: block;
    }
}
