
.report-section {
    display: none; /* Initially hide all sections */
}
.active {
    display: grid;
}

.containerDiv {
    width: 96%; 
    height: 90vh; 

    position: absolute; 
    /* Center the div */
    top: calc(50% + 40px);
    left: 50%; 
    transform: translate(-50%, -50%); 

    background-color: white;
    background-image: linear-gradient(to bottom, #ffff, var(--main-bg-color)  ); 
    z-index: 1;
    overflow: hidden;

    /* display: grid; */
    /* The following styles attempts to make the footer stay at the bottom */
    min-height: 90dvh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);    
}
/* #SaleForm { 
    overflow: hidden;
}  */

.itemsTableDiv {
    display: flex;
    width: 100%; 
    position: relative;
    max-height: 78%;
    padding: 0px 10px;
    overflow: auto;
}
/* .ListItemTable {
    display:table-header-group;
    flex-direction: column;
    width: 100%; 

    position: static;
    max-height: 78%;
    padding: 0px 10px;
    overflow: auto;
} */

.ReportHead {
    height: auto;
    background-color: var(--main-bg-color);
    color: white;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    display: flex; /* Align header content */
}

.ReportBody {
    --rowHeight: 26px;
    height: auto;
    width: 100%;
    overflow-y: auto;
    display: block; /* Remove flex to avoid centering */
}

/* Report Footer */
.ReportFooter {
    height: auto;
    display: flex;
    background-color: var(--main-bg-color);
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;

}
.footSegments {
    display: flex;
    width: auto;
    align-items: center;
    flex-wrap: nowrap;
}
.footSegments button{
    min-width: 70px;
    max-width: max-content;
    width: 100%;
    padding: 0px 20 0px 20px;
}
#ScanCode {
    height: 32px;
    max-width: 300px;
    margin-right: 10px;
    margin-left: 10px;
}

/* Table */
table {
    margin-top: 0px;
    margin-bottom: 5px;
    border-collapse: collapse;
    width: 100%;  
    max-width: 1500px;
    min-width: 600px;
    background-color: rgb(245, 245, 245);
    overflow: auto;
    /* max-height: 78%; */
}

thead {
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
}

/* Row and Cell Styling */
th {
    text-align: center !important; 
    vertical-align: middle !important; 
    padding: 4px; 
    background-color: var(--second-bg-color);
    color: white;
    height: auto;

    white-space: normal; 
    word-wrap: break-word; 
    max-width: 250px; 
}

td {
    vertical-align: middle;
    height: var(--rowHeight) !important;  
    line-height: var(--rowHeight); 
    padding: 0px 10px 0px 10px;
    border-right: 2px solid white;  

    font-size: small;
}
td:last-child {
    border-right: none;  /* Remove right border on the last column */
}

.colEditItem {
    display: none; 
    cursor: pointer;
    font-size: 14px;
}
.colEditItem:hover {
    color: red;
}
.colNoWrap {
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
}

.closeForm {
    color: white;
    background-color: var(--main-bg-color);
    cursor: pointer;
    padding-left: 6px;
}
.closeForm:hover {
    background-color: red;
}

tr  {
    height: var(--rowHeight) !important; 
    padding: 0;
    cursor: pointer;
}
tr:nth-child(even) {
    background-color: rgb(230,230,230);
}
tr:hover {
    color: black;
    background-color: rgb(164,209,255);
}
tr:hover .colEditItem {
    display: inline-block; /* Show icons when row is hovered */
}
.strikethrough {
    text-decoration: line-through;
}

/* Selected row color */
.selected {
    background-color: color-mix(in srgb, var(--main-bg-color) 60%, white);
    font-weight: bold;          
    color: #333;                
}

.recCounter {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 5px;
}

.hover-effect {
    background-color: rgb(164,209,255) !important;
    transition: background-color 0.5s ease-in-out;
}

/* .itemsTable {
    height: 50%;
    width: 80%;
    overflow-y: auto;
    display: block; 
} */

td.action-icons {
    width: 40px; /* Or any other appropriate size */
    text-align: center; /* Centers the trash icon */
}
/* Ensures the trash icon takes up space without shifting the layout */
td.action-icons {
    position: relative;
}

td.action-icons i {
    visibility: hidden; /* Icon is hidden initially */
    opacity: 0;
    transition: opacity 0.3s ease; /* Smooth transition */
}

tr:hover td.action-icons i {
    visibility: visible; /* Icon becomes visible on row hover */
    opacity: 1;
}
