
.report-section {
    display: none; /* Initially hide all sections */
}
.active {
    /* display: flex;  */
    display: grid;
}


#SalesRankStore,
#SalesRankBrand, 
#ProductFile,
#LocationFile {
    width: 96%; 
    height: 90vh; 

    position: absolute; 
    /* Center the div */
    top: calc(50% + 28px);
    left: 50%; 
    transform: translate(-50%, -50%); 

    flex-direction: column;
    background-color: white;
    background-image: linear-gradient(to bottom, #ffff, var(--main-bg-color)  ); 
    z-index: 1;

    /* display: grid; */
    /* The following styles attempts to make the footer stay at the bottom */
    min-height: 90dvh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);    
}


.ReportHead {
    height: auto;
    background-color: var(--main-bg-color);
    color: white;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    display: flex; /* Align header content */
}

.ReportBody {
    --rowHeight: 26px;
    height: auto;
    width: 100%;
    overflow-y: auto;
    display: block; /* Remove flex to avoid centering */
}

.ReportFooter {
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    justify-content: space-between;
    align-content: center;
    padding: 0px 10px 0px 10px;
}

table {
    margin-top: 0px;
    margin-bottom: 5px;
    border-collapse: collapse;
    width: 100%;  
    max-width: 1500px;
    min-width: 600px;
    background-color: rgb(245, 245, 245);
    overflow-y: auto;
}

thead {
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 1;
}

/* Row and Cell Styling */
th {
    text-align: center !important; 
    vertical-align: middle !important; 
    padding: 4px; 
    background-color: var(--second-bg-color);
    color: white;
    height: auto;

    white-space: normal; 
    word-wrap: break-word; 
    max-width: 250px; 
}

td {
    vertical-align: middle;
    height: var(--rowHeight) !important;  
    line-height: var(--rowHeight); 
    padding: 0px 10px 0px 10px;
    border-right: 2px solid white;  

    font-size: small;
}
td:last-child {
    border-right: none;  /* Remove right border on the last column */
}

.colEditItem {
    display: none; 
    cursor: pointer;
    font-size: 14px;
}
.colEditItem:hover {
    color: red;
}
.colNoWrap {
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
}
.closeRepo1,
.closeRepo2, 
#closeList,
#closeLoca {
    color: white;
    background-color: var(--main-bg-color);
    cursor: pointer;
}

tr  {
    height: var(--rowHeight) !important; 
    padding: 0;
    cursor: pointer;
}
tr:nth-child(even) {
    background-color: rgb(230,230,230);
}
tr:hover {
    color: black;
    background-color: rgb(164,209,255);
}
tr:hover .colEditItem {
    display: inline-block; /* Show icons when row is hovered */
}

/* Selected row color */
.selected {
    background-color: #f0f0f0;  
    font-weight: bold;          
    color: #333;                
}

#itemListCounter, 
#saleRank1Counter,#saleRank2Counter {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 5px;
}